<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>login.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>admin.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>admin.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>admin.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookServlet</servlet-name>
        <servlet-class>admin.SearchBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBookServlet</servlet-name>
        <servlet-class>admin.IssueBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBookServlet</servlet-name>
        <servlet-class>admin.ReturnBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>stu.AttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet1</servlet-name>
        <servlet-class>login.ChangePasswordServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAttendanceServlet</servlet-name>
        <servlet-class>stu.SearchAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>admin.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationConf</servlet-name>
        <servlet-class>login.RegistrationConf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationConf1</servlet-name>
        <servlet-class>admin.RegistrationConf1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet1</servlet-name>
        <servlet-class>admin.ForgotPasswordServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet2</servlet-name>
        <servlet-class>admin.ForgotPasswordServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet21</servlet-name>
        <servlet-class>login.ForgotPasswordServlet21</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>stu.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUnblock</servlet-name>
        <servlet-class>admin.BlockUnblock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReturnServlet</servlet-name>
        <servlet-class>SearchReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReturnServlet1</servlet-name>
        <servlet-class>admin.SearchReturnServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllFinesServlet</servlet-name>
        <servlet-class>admin.ViewAllFinesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFineServlet</servlet-name>
        <servlet-class>admin.DeleteFineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookServlet</servlet-name>
        <url-pattern>/SearchBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBookServlet</servlet-name>
        <url-pattern>/IssueBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBookServlet</servlet-name>
        <url-pattern>/ReturnBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/AttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet1</servlet-name>
        <url-pattern>/ChangePasswordServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAttendanceServlet</servlet-name>
        <url-pattern>/SearchAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationConf</servlet-name>
        <url-pattern>/RegistrationConf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationConf1</servlet-name>
        <url-pattern>/RegistrationConf1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet1</servlet-name>
        <url-pattern>/ForgotPasswordServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet2</servlet-name>
        <url-pattern>/ForgotPasswordServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet21</servlet-name>
        <url-pattern>/ForgotPasswordServlet21</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUnblock</servlet-name>
        <url-pattern>/BlockUnblock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReturnServlet</servlet-name>
        <url-pattern>/SearchReturnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReturnServlet1</servlet-name>
        <url-pattern>/SearchReturnServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllFinesServlet</servlet-name>
        <url-pattern>/ViewAllFinesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFineServlet</servlet-name>
        <url-pattern>/DeleteFineServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
